*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'D-DIN';
}
.home{
    width: 100%;
    height: auto;
}
.navbar{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background: transparent;
    /* border: 1px solid gainsboro; */
    position: absolute;
    z-index: 10;
    top: 0;
    /* background-color: rgba(6, 6, 162, 0.774); */
}
.navbar>.logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 30px;
    /* background-color: red; */
}
.logo>svg{
    fill: white;
    margin-left: 40px ;
}
.navbar>.navlist{
    width: 55%;
    height: 100%;
    /* background-color: blue; */
}
.navlist>ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    font-size: small;
    /* font-family: sans-serif; */
}
.navlist>ul>li:hover{
 text-decoration: underline;
 cursor: pointer;
}
.navbar>.menubar{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
    gap: 30px;
    font-size: medium;
    text-transform: uppercase;
    font-weight: 400;
    /* font-family: serif; */
    color: white;
    /* background-color: green; */
}
.menubar>span:hover{
    text-decoration: underline;
    cursor: pointer;
}




.videosection{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: red; */
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire area */
    z-index: -1; /* Ensure the video is in the background */
  }
  
  .content {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 44%;
    left: 5%;
    text-transform: uppercase;
    color: white;
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;

    justify-content: center;
    gap: 20px;
    padding-left: 40px;
    /* background-color: red; */
  }
  .content>h1{
    text-align: start;
    width: 80%;
    height: 40%;
    font-size: 45px;
    font-weight: 600;
    /* background-color: blue; */
  }
  .content>button{
   padding: 15px 50px;
   background-color: transparent;
   border: 2px solid white;
   text-transform: uppercase;
   cursor: pointer;
   color: white;
   font-weight: 600;
   position: relative;
   overflow: hidden;
   transition: all 0.3s ease-in-out;
  }
  .content>button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0%;
    z-index: -1;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  .content>button:hover::after{
    top: 0%;
  }
  .content>button:hover{
    color: black;
  }

  .image-container{
    position: relative;
    width: 100%;
    height: 100vh; 
    border-bottom: 2px solid black;
    background-color: red;
  }
  footer{
    width: 100%;
    height: 78px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer>ul{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    list-style: none;
    font-size: small;
    text-transform: uppercase;
    /* background-color: red; */
  }
        /* mobile device css */
  @media screen and (max-width:426px) {
    .navbar{
      justify-content: center;
    }
    .navbar>.logo{
      width: 80%;
      padding: 40px;
      /* background-color: red; */
      justify-content: center;
    }
    .navlist{
      display: none;
    }
    .navbar>.menubar{
      width: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* background-color: green; */
      padding-right: 0;
      font-size: 23px;
    }
    .navbar>.menubar>span:nth-child(1){
      display: none;
    }

    
    .content{
      width: 70%;
      top: 60%;
      left: 6%;
      padding: 0;
      
    }
    .content>h1{
      width: 100%;
      font-size:35px;
    }
    .image-container>img{
      object-fit: cover;
      
    }
    footer>ul{
      width: 70%;
      font-size: 11px;
      /* background-color: red; */
    }
  }
        /* tablet device css */
  @media screen and (min-width:426px) and (max-width:769px) {
    .navbar{
      justify-content: end;
     
    }
    .navbar>.logo{
      width: 40%;
      font-size: 20px;
      /* padding: 40px; */
      /* background-color: red; */
      justify-content: center;
    }
    .logo>svg{
      margin-left: 0;
      width: 300px;
      height: 100px;

    }
    .navlist{
      display: none;
    }
    .navbar>.menubar{
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* background-color: green; */
      padding-right: 0;
      font-size: 23px;
    }
    .navbar>.menubar>span:nth-child(1){
      display: none;
    }
    .content{
      width: 70%;
      top: 60%;
      left: 6%;
      padding: 0;
      
    }
    .content>h1{
      width: 65%;
      height: auto;
      font-size:35px;
    }
    .image-container>img{
      object-fit: cover;
      
    }
    footer>ul{
      width: 45%;
      font-size: 14px;
      /* background-color: red; */
    }
  }

        /* small laptop decive css  */

  @media screen and (min-width:769px) and (max-width:1051px) {
    
    .navbar>.logo{
      padding: 0;
      /* background-color: yellow; */
    }
    .navbar>.navlist{
      width: 70%;
      /* background-color: blue; */
    }
    .navlist>ul{
      font-size: 10px;
    }
    .navbar>.menubar{
      width: 10%;
      padding-right: 10px;
      gap: 10px;
      /* background-color: green; */
    }

  }